<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shun.dao.UserDao">
    <select id="selectCityAndLocation" resultType="UserLocation">
        select loc name,count(*) value
        from user
        group by loc;
    </select>
</mapper>